.filters {
  display: block;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}


.tabs {
   display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.tab-btn {
 
  width: 22%;              
  margin: 0.5%;
  padding: 0.5rem 0;
  font-size: 0.75rem;      
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  background: white;
  cursor: pointer;
  text-align: center;

}

.tab-btn.active {
  background: #dc5907;
  color: white;
  border-color: #dc5907;
  font-weight: bold;
}


.search-bar {
  width: 100%;                
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  display: inline-block;
}

.toggles {
  width: 38%;              
  display: inline-block;
  text-align: right;
  font-size: 0.75rem;
}

/* -------- Responsive -------- */

/* Tablet ≥ 600px */
@media (min-width: 600px) {
  .tab-btn {
    width: 18%;
    font-size: 0.85rem;
    padding: 0.6rem 0;
  }

  .search-bar {
    width: 72%;
    font-size: 0.85rem;
    padding: 0.6rem;
  }

  .toggles {
    width: 26%;
    font-size: 0.85rem;
  }
}

/* Desktop ≥ 900px */
@media (min-width: 900px) {
  .tab-btn {
    width: 16%;
    font-size: 1rem;
    padding: 0.7rem 0;
  }

  .search-bar {
    width: 75%;
    font-size: 1rem;
    padding: 0.7rem;
  }

  .toggles {
    width: 23%;
    font-size: 1rem;
  }
}
